.container
  .row
    .col-md-2.col-md-offset1
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
  .row
    .col-md-2.col-md-offset1
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
  .row
    .col-md-2.col-md-offset1
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
  .row
    .col-md-2.col-md-offset1
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
    .col-md-2
      .img-thumbnail= image_tag("0035 - coconut balls.jpg", alt: "0035 - coconut balls.jpg")
