.container
  - @images.each_slice(5) do |group|
    .row
      - group.each do |image|
        .col-md-2
          .thumbnail
            = check_box_tag "#{image.split('/').last}", '1',false, class: 'imgcheck'
            = label_tag  "#{image.split('/').last}", "" do
              = image_tag "#{image.split('/').last}"
